fieldset 
{
    
    border-color:black;
    margin: 0;
    padding: 0;
    
}

fieldset legend 
{
        display: none;
}

 fieldset ol  
 {
        padding: 0;
        list-style: none;
 }

  fieldset ol li 
  {
            padding-bottom: 5px;
  }
   
  li
  {
      font-family:Arial;

  }
  fieldset input 
  {
      align-content:center;
  }