@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<table class="round">
    <tr >
    <td >
        <img src="~/Images/download%20(1).jpg" />
        </td>
        <td>

        </td>
       <td>
           <img src="~/Images/download.jpg" />
       </td>
   

   
        
    </tr>
</table>
