USE [master]
GO
/****** Object:  Database [CCIDatabase]    Script Date: 4/28/2014 4:40:03 PM ******/
CREATE DATABASE [CCIDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CCIDatabase', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CCIDatabase.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CCIDatabase_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CCIDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCIDatabase].[dbo].[sp_fulltext_database] @action = 'enable' 
end
GO
USE [CCIDatabase]
GO
/****** Object:  StoredProcedure [dbo].[AddImportDates]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddImportDates]
(
@UploadedDate date,
@ForWhichMonth date,
@DateId int output
)
	
AS
BEGIN
	
	SET NOCOUNT ON;

    Insert into [dbo].DataImportDates values(@UploadedDate,@ForWhichMonth)
	SET @DateId = @@IDENTITY
	SELECT @DateId AS DateID
END

GO
/****** Object:  StoredProcedure [dbo].[AddNewData]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: CCIDatabase_FullScript.sql|7|0|C:\MyData\CCIDatabase_FullScript.sql
CREATE PROCEDURE [dbo].[AddNewData]
(
@EmployeeName varchar(50),
@AccountName varchar(50),
@EmailAddress varchar(50),
@CostCenterId int,
@MobileNumber bigint,
@MobileAcNumber bigint,
@DatacardNumber bigint,
@DataCardAcNumber bigint
)	
AS
BEGIN
	
	SET NOCOUNT ON;

    insert into [dbo].staticEmployeeDetails values(@EmployeeName,@AccountName,@EmailAddress,@CostCenterId,@MobileNumber,
	@MobileAcNumber,@DatacardNumber,@DataCardAcNumber)
END



GO
/****** Object:  StoredProcedure [dbo].[AddTransImportDates]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTransImportDates]
(
@UploadedDate date,
@ForWhichMonth date,
@DateId int output
)
	
AS
BEGIN
	
	SET NOCOUNT ON;

    Insert into [dbo].TransImportDates values(@UploadedDate,@ForWhichMonth)
	SET @DateId = @@IDENTITY
	SELECT @DateId AS DateID
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: CCIDatabase_FullScript.sql|33|0|C:\MyData\CCIDatabase_FullScript.sql
CREATE PROCEDURE [dbo].[DeleteDetails]
(
@EmployeeId varchar(50)
)	
AS
BEGIN
	
	SET NOCOUNT ON;

    delete from [dbo].staticEmployeeDetails where EmployeeId=@EmployeeId
END


GO
/****** Object:  StoredProcedure [dbo].[EditSingleData]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditSingleData]
(
@UserId int,
@EmployeeName varchar(50),
@AccountName varchar(50),
@EmailAddress varchar(50),
@CostCenterId bigint,
@MobileNumber bigint,
@MobileAcNumber bigint,
@DataCardNumber bigint,
@DatacardAcNumber bigint
)
	
AS
BEGIN
	
	SET NOCOUNT ON;

    update [dbo].staticEmployeeDetails set EmployeeName=@EmployeeName,AccountName=@AccountName,EmailAddress=@EmailAddress,CostCenterId=@CostCenterId,
	MobileNumber=@MobileNumber,MobileAcNumber=@MobileAcNumber,DatacardNumber=@DataCardNumber,DataCardAcNumber=@DatacardAcNumber where EmployeeId=@UserId  
END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthData]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetMonthData]
  @month int,
  @year int
AS
BEGIN
	 
	SET NOCOUNT ON;

   
	
	select PresentDate,Name,Place,Driver,Vehiclenumber,Amount,Costcentre from [dbo].TransportDetails where MONTH(PresentDate)=@month and YEAR(PresentDate)=@year
	end
GO
/****** Object:  StoredProcedure [dbo].[GetMonthDataForAirtel]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[GetMonthDataForAirtel]
  @month int,
  @year int
AS
BEGIN
	 
	SET NOCOUNT ON;

   
	
	select Accountno,AirtelNumber,OnetimeCharges,MonthlyCharges,CallCharges,ValueAddedServices,MobileInternetUsage,
	Roaming,Discounts,Taxes,TotalCharges from dbo.AirtelManagement where ImportID=(select DateId from dbo.DataImportDates where MONTH(ForWhichMonth)=@month and YEAR(ForWhichMonth)=@year)
	end


GO
/****** Object:  StoredProcedure [dbo].[getSingleEmployeeDetail]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: CCIDatabase_FullScript.sql|78|0|C:\MyData\CCIDatabase_FullScript.sql
CREATE PROCEDURE [dbo].[getSingleEmployeeDetail]
(
   @EmployeeId int
)
AS
BEGIN
	
	SET NOCOUNT ON;

    select * from [dbo].staticEmployeeDetails where EmployeeId=@EmployeeId
END



GO
/****** Object:  StoredProcedure [dbo].[GetUserName]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: CCIDatabase_FullScript.sql|96|0|C:\MyData\CCIDatabase_FullScript.sql
CREATE PROCEDURE [dbo].[GetUserName]
AS
BEGIN
	
	SET NOCOUNT ON;

    select * from  [dbo].StaticAdminDetails
END



GO
/****** Object:  StoredProcedure [dbo].[SaveDataIntoDataBase]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveDataIntoDataBase]
	@MobileAcNumber bigint,
	@AirtelNumber bigint,
	@OnetimeCharges int,
	@Monthlycharges float,
	@CallCharges float,
	@ValueAdddedServices float,
	@MobileInternetUsage float,
	@Roaming float,
	@Discounts float,
	@Taxes float,
	@TotalCharges float,
	@WhoUploaded varchar(50),
	@DateImportId int

AS
BEGIN
	
	SET NOCOUNT ON;

   
	Insert into [dbo].AirtelManagement values(@MobileAcNumber,@AirtelNumber,@OnetimeCharges,@Monthlycharges,
	@CallCharges,@ValueAdddedServices,@MobileInternetUsage,@Roaming,@Discounts,@Taxes,@TotalCharges,@WhoUploaded,@DateImportId)
END

GO
/****** Object:  StoredProcedure [dbo].[SaveTransData]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveTransData]
	 @PresentDate Date,
	 @Name Varchar(20),
	 @Place Varchar(20),
	 @Draiver varchar(20),
	 @Vehiclenumber Varchar(20),
	 @Amount int,
	 @Costcentre int,
	 @DateImportId int


AS
BEGIN
	
	SET NOCOUNT ON;

   
	Insert into [dbo].[TransportDetails] values(@PresentDate,@Name,@Place, @Draiver,@Vehiclenumber,@Amount,@Costcentre, @DateImportId )
END

GO
/****** Object:  StoredProcedure [dbo].[ViewAirtelDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ViewAirtelDetails]
	
AS
BEGIN
	
	SET NOCOUNT ON;

    
	Select AccountNo,AirtelNumber,OnetimeCharges,MonthlyCharges,CallCharges,ValueAddedServices,MobileInternetUsage,Roaming,Discounts,Taxes,TotalCharges from [dbo].AirtelManagement
END

GO
/****** Object:  StoredProcedure [dbo].[viewEmployeeDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: CCIDatabase_FullScript.sql|140|0|C:\MyData\CCIDatabase_FullScript.sql
CREATE PROCEDURE [dbo].[viewEmployeeDetails] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

    select * from [dbo].staticEmployeeDetails
END



GO
/****** Object:  StoredProcedure [dbo].[ViewReportDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ViewReportDetails]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	select MobileNumber,EmployeeName,CostCenterId,TotalCharges from [dbo].staticEmployeeDetails,[dbo].AirtelManagement where [dbo].staticEmployeeDetails.MobileNumber=[dbo].AirtelManagement.AirtelNumber

END


GO
/****** Object:  StoredProcedure [dbo].[ViewTranportDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[ViewTranportDetails]
	 
AS
BEGIN
	 
	SET NOCOUNT ON;

    select PresentDate,Name,Place,Driver,Vehiclenumber,Amount,Costcentre from dbo.TransportDetails
END

GO
/****** Object:  Table [dbo].[AirtelManagement]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AirtelManagement](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountNo] [bigint] NOT NULL,
	[AirtelNumber] [bigint] NOT NULL,
	[OnetimeCharges] [float] NOT NULL,
	[MonthlyCharges] [float] NOT NULL,
	[CallCharges] [float] NOT NULL,
	[ValueAddedServices] [float] NOT NULL,
	[MobileInternetUsage] [float] NOT NULL,
	[Roaming] [float] NOT NULL,
	[Discounts] [float] NOT NULL,
	[Taxes] [float] NOT NULL,
	[TotalCharges] [float] NOT NULL,
	[WhoUploaded] [varchar](50) NOT NULL,
	[ImportId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DataImportDates]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataImportDates](
	[DateId] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedData] [varchar](50) NOT NULL,
	[ForWhichMonth] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaticAdminDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticAdminDetails](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[RememberMe] [bit] NOT NULL,
 CONSTRAINT [PK_StaticAdminDetails] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[staticEmployeeDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[staticEmployeeDetails](
	[EmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](50) NULL,
	[AccountName] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[CostCenterId] [bigint] NULL,
	[MobileNumber] [bigint] NULL,
	[MobileAcNumber] [bigint] NULL,
	[DataCardNumber] [bigint] NULL,
	[DatacardAcNumber] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransImportDates]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransImportDates](
	[DateId] [bigint] IDENTITY(1,1) NOT NULL,
	[CreatedData] [varchar](50) NOT NULL,
	[ForWhichMonth] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransportDetails]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TransportDetails](
	[PresentDate] [date] NULL,
	[Name] [varchar](40) NULL,
	[Place] [varchar](40) NULL,
	[Driver] [varchar](40) NULL,
	[Vehiclenumber] [int] NULL,
	[Amount] [int] NULL,
	[Costcentre] [int] NULL,
	[DateImportId] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF 
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 4/28/2014 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed] 
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
ALTER TABLE [dbo].[AirtelManagement]  WITH CHECK ADD FOREIGN KEY([ImportId])
REFERENCES [dbo].[DataImportDates] ([DateId])
GO
ALTER TABLE [dbo].[AirtelManagement]  WITH CHECK ADD FOREIGN KEY([ImportId])
REFERENCES [dbo].[DataImportDates] ([DateId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[StaticAdminDetails] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
USE [master]
GO
